.TicketViewer-from {
  margin-top: 25px;
  /* font-weight: bolder; */
}

.TicketViewer-msg {
  font-weight: bold;
  color: #2980b9;
  padding-bottom: 25px;
}

.ticket-viewer-js {
  width: 100%;
  height: 100%;
  
}

.from {
  font-weight: bolder;
  padding-bottom: 15px;

}

.title {
  font-weight: bolder;
  padding-bottom: 50px;
}

.message {
  padding-bottom: 100px;
}
.top-toolbar {
  display: flex;
  border-bottom: 1px double black;
}

.top-box-top-toolbar {
  display: block;  
  flex: 1 1 auto;
}


.bottom-box-top-toolbar {
  display: block;  
  flex: 1 1 auto;
}

.center-view {
  padding-top: 2%;
  margin-left: 3%;
  min-height: 40%;
  margin-bottom: 18%;

}

.bottom-toolbar {
  display: flex;
  justify-content: center;

}



.priority-div {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}

.priority-icon {
  height: 24px;
  width: 24px;
}

.separator {
  border-color: black;
  border-bottom: 1px;
}

.delete-btn {
  align-items: left;
  justify-content: left;
margin-right: 20px;
}

.email-btn {
  margin-left: 20px;
}

.left-bottom-toolbar {
  display: flex;
  flex: 1 1 auto;
  margin-left: 5%;
}
